@using Manager.Helper;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    @*<link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="~/assets/img/favicon.png">*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        English is our life
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/now-ui-dashboard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />

    <!-- Spin -->
    @*<link href="~/assets/spin/spin.css" rel="stylesheet" />*@
</head>
<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="orange">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            -->
            <div class="logo">
                <a class="simple-text logo-mini" style="font-weight: bold">
                    EN
                </a>
                <a class="simple-text logo-normal" style="font-weight: bold">
                    ENGLISH IS OUR LIFE
                </a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <ul class="nav" id="nav_menu">
                    <li class=" @( ViewBag.Session == "DASHBOARD" ? "active" : "")" id="home">
                        <a @*href="/home"*@>
                            <i class="now-ui-icons design_app"></i>
                            <p>Trang chủ</p>
                        </a>
                    </li>
                    <li class=" @(ViewBag.Session == "GROUP RULE" ? "active" : "")" id="rule">
                        <a @*href="/spin"*@>
                            <i class="now-ui-icons objects_key-25"></i>
                            <p>Nội quy nhóm</p>
                        </a>
                    </li>
                    <li class=" @(ViewBag.Session == "CHALLENGES - SPIN" ? "active" : "")" id="spin">
                        <a @*href="/spin"*@>
                            <i class="now-ui-icons education_atom"></i>
                            <p>Thử thách - Quay</p>
                        </a>
                    </li>
                    <li class=" @(ViewBag.Session == "PUNISH LOG" ? "active" : "")" id="punish">
                        <a @*href="/punish"*@>
                            <i class="now-ui-icons location_map-big"></i>
                            <p>Danh sách phạt</p>
                        </a>
                    </li>
                    <li class=" @(ViewBag.Session == "FUND MONEY" ? "active" : "")" id="fund">
                        <a @*href="/punish"*@>
                            <i class="now-ui-icons business_money-coins"></i>
                            <p>Tiền quỹ</p>
                        </a>
                    </li>
                    <li class=" @(ViewBag.Session == "NOTIFICATIONS" ? "active" : "")" id="notification">
                        <a @*href="/notification"*@>
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p>Thông báo</p>
                        </a>
                    </li>
                    <li class=" @(ViewBag.Session == "PROFILE" ? "active" : "")" id="profile">
                        <a @*href="/profile"*@>
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Trang cá nhân</p>
                        </a>
                    </li>
                    <li class=" @(ViewBag.Session == "FRIENDS" ? "active" : "")" id="friend">
                        <a @*href="/friend"*@>
                            <i class="now-ui-icons text_caps-small"></i>
                            <p>Bạn bè</p>
                        </a>
                    </li>
                    <li class=" @(ViewBag.Session == "SETTINGS" ? "active" : "")" id="setting">
                        <a @*href="/setting"*@>
                            <i class="now-ui-icons ui-1_settings-gear-63"></i>
                            <p>Cài đặt</p>
                        </a>
                    </li>
                    @if (ViewBag.Role == "ADMIN")
                    {
                        <li class=" @(ViewBag.Session == "MANAGER - ADMIN" ? "active" : "")" id="manager">
                            <a @*href="/setting"*@>
                                <i class="now-ui-icons design_bullet-list-67"></i>
                                <p>Quản trị (Admin)</p>
                            </a>
                        </li>
                    };
                </ul>
            </div>
        </div>
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">
                            @ViewBag.Session
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <form>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Tìm kiếm...">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <ul class="navbar-nav" id="_menu">
                            @*<li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <i class="now-ui-icons media-2_sound-wave"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block">Stats</span>
                                    </p>
                                </a>
                            </li>*@
                            <li class="nav-item dropdown">
                                <a style="font-size: 15px; font-weight: 300; text-transform: none; " class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="now-ui-icons users_single-02"></i> @ViewBag.NameFacebook
                                    @*<p>
                                        <span class="d-lg-none d-md-block"></span>
                                    </p>*@
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" id="_profile" href="#">Trang cá nhân</a>
                                    <a class="dropdown-item" href="/login">Đăng xuất</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            @RenderBody();

            <footer class="footer">
                <div class=" container-fluid ">
                    <nav>
                        <ul>
                            <li>
                                <a href="/home">
                                    English group
                                </a>
                            </li>
                            <li>
                                <a href="/home">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="/home">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright" id="copyright">
                        &copy;
                        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script> - Tuan Nguyen.
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!--   Core JS Files   -->
    @*<script src="~/assets/js/core/jquery.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="~/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/assets/demo/demo.js"></script>
    <script src="~/assets/demo/menu.js"></script>
    @RenderSection("Scripts", false)

    <!-- Spin -->
    @*<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="~/assets/spin/spin.js"></script>*@
</body>

</html>
